/* VARIABLES */
:root {
    --max-width: 1920px;
    --min-width: 250px;

    --montserrat: 'Montserrat', sans-serif; /* for header-phrase*/
    --nunito: 'Nunito', sans-serif; /* for headers */
    --opensans: 'Open Sans', sans serif; /*main body*/
    --roboto: 'Roboto', sans-serif;
    --playfair-display: 'Playfair Display', serif;
    --lato: 'Lato', sans-serif;
    
}

/* HTML AND BODY */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;;
    font-family: var(--opensans);
    background: #FDFCFC;
    letter-spacing: 1px;
}

h1, h2 {
    font-family: var(--nunito) !important;
}

a:link, a:visited, a:hover {
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
}


/* HEADER SECTION*/

.header-container {
    width: 100%;
    height: 500px;
    background: linear-gradient(270deg, rgba(25,105,255, 0.8), rgba(25,105,255, 1) ), 
                url("../img/food.jpg");    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 5px #0E3A8C;

    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

    /* Position search elements */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.header-phrase {
    font-family: var(--montserrat)  !important;
    font-style: italic;
    font-size: 52px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 5px auto 35px auto;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container > input {
    border: 0;
    border-radius: 7px 0px 0px 7px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    padding: 10px;
    width: 300px;
   }

.search-container > .submit {
    background-color: #282D3F;
    color: #96BAFF;
    cursor: pointer;
}

.submit:hover {
    background-color: #669CFF;
    color: #282D3F;
}

.search-container > .border {
    border-radius: 0px 7px 7px 0px;
    width: 90px;
}

/* MAIN / RESULTS SECTION */

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 350px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

main > h1 {
    margin: 35px auto 25px auto;
    font-size: 32px;
    color: #010202;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.welcome-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px #0E3A8C;
    border-radius: 3px;
    width: 90%;
    min-height: 150px;
    margin-top: 100px;
    padding: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* For Safari */
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* For Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.result-card {
    display:flex;
    box-shadow: 1px 1px 5px #0E3A8C;
    border-radius: 3px;
    width: 90%;
    margin: 15px;
}

.result-img {
    max-height: 250px;
    max-width: 250px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.result-card-text {
    padding: 15px 25px;
    width: 100%;
}

.result-card-text-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-address > h2 {
    margin-top: 0;
    color: #1D130B;
}

.result-card-text-header > a {
    color: #337536;
    font-size: 20px;
    
}

.result-card-text-header > a:hover {
    color:#46A049;
}

.result-card-text-description {
    width: 100%;
}

.result-card-text-description > span {
    margin-left:auto;
}

.result-card-text > input {
    display: block;
    flex-direction: row;
    margin: auto;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #46A049;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}

.read-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* EXTENDED INFORMATION IN CARD */

.result-card-text-description-extended {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    margin-top: 10px
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 1px 1px 5px #0E3A8C;
    border-radius: 3px;
}

.map {
    border: 1px solid #46A049;
    border-radius: 3px;
    height: 250px;
    width: 300px;
    padding-top: 10px;
    margin: 15px;
}

.hours > table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews > h3, 
.activities > h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews {
    display:flex;
    box-shadow: 1px 1px 5px #0E3A8C;
    border-radius: 3px;
    width: 100%;
    margin: 20px auto;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.review, .activity {
    margin: 15px;
    width: 50%;
}

/* ERROR CARD */

.errorDiv {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 10px 8px #888888;
    background: #F7F9FF;
    box-shadow: 1px 1px 5px #0E3A8C;
    border-radius: 3px;
    width: 90%;
    min-height: 200px;
    margin-top: 100px;
}

.errorText {
    margin: 25px;
}

.errorText > h3 {
    display: flex;
    justify-content: center;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #1969FF;
    margin-top: 25px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 15px;
}

.footer-link > a:link, a:visited, .powered-by > a:link, a:visited, .powered-by {
    color: #F7E6D8;
    font-family: var(--montserrat);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.footer-link > a:hover, .powered-by > a:hover {
    color: #05142F;
    font-weight: 600;
}

.powered-by {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    margin-top: 15px;
}

.powered-by > a:link, a:visited, .powered-by {
    font-size: 14px;
}

.powered-by > a:hover {
    color: #05142F;
    font-weight: 600;
}


/* RESPONSIVE */

@media screen and (max-width: 910px) {
    h1 > .header-phrase {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .result-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result-img {
        margin-top: 10px;
        border-radius: 7px;
    }

    .result-card-text {
        padding: auto 15px;
        width: 90%;
    }
}


@media screen and (max-width: 630px) { 
    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review {
        width: 90%;
        padding: 5px;
    }
}


@media screen and (max-width: 590px) { 
    .result-card, .reviews-container, .result-card-text-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .result-card-text-header {
        align-items: flex-start;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 450px) { 
    
    .header-container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
    }

    .logo {
        position: relative;
    }
    
    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-container > input {
        border-radius: 7px;
        margin-bottom: 15px;
    }

    .search-container > .border {
        border-radius: 7px;
        width: 90px;
    }

    .map {
        max-width: 250px;
    }

    .powered-by {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 340px) { 
    
    .header-container {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    
    .header-phrase {
        font-size: 42px;
    }
    
    .search-container > input {
        border-radius: 7px;
        margin-bottom: 15px;
        width: 240px;
    }

    .search-container > .submit {
        background-color: #CFD1CF;
        cursor: pointer;
    }

    .search-container > .border {
        border-radius: 7px;
        width: 90px;
    }

    .search-container > .submit {
        background-color: #282D3F;
        color: #96BAFF;
        cursor: pointer;
    }
    
    .submit:hover {
        background-color: #669CFF;
        color: #282D3F;
    }

    main > h1 {
        display: inline-block;
        justify-content: center;
    }

    .result-card {
        width: 90%;
        margin: 15px 5px;
    }

    .map {
        max-width: 200px;
    }
    
    .result-img {
        max-width: 200px;
    }
}